@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  background-color: #efefef;
}

textarea:focus,
input:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
}
